@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CeraPro;
  src: url("/fonts/Cera Pro Black.otf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: CeraPro;
  src: url("/fonts/Cera Pro Bold.otf");
  font-weight: 700;
  font-style: normal;
}


@layer base {
  html {
    font-family: Nunito, system-ui, sans-serif;
    position: relative;
  }
}